/* Color palette provided by https://coolors.co/ */
:root {
    --light: #eaf6ff;
    --dark: #232528;
    --deep-blue: #2a2a72;
    --light-blue: #009ffd;
    --yellow: #ffa400;
}

body {
    background: var(--light);
}

header {
    background: var(--dark);
    color: var(--light-blue);
}

header h1 {
    display: inline-block;
}

header nav {
    color: var(--yellow);
    font-weight: bolder;
    float: right;
}

header nav ul li {
    display: inline-block;
    margin: 25px;
}

h2 {
    color: var(--deep-blue);
}

main p {
    color: var(--dark);
}

footer {
    background: var(--light-blue);
    color: var(--deep-blue);
}