/* Color palette provided by https://coolors.co/ */
:root {
    --light: #eaf6ff;
    --dark: #232528;
    --deep-blue: #2a2a72;
    --light-blue: #009ffd;
    --yellow: #ffa400;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--light);
}

header {
    background: var(--dark);
    color: var(--light-blue);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    margin-left: 10px;
}

header nav {
    color: var(--yellow);
    font-weight: bolder;
    font-size: 25px;
    position: relative;
}

header nav ul li {
    display: inline-block;
    margin: 25px;
}

header a:link {
    color: var(--yellow)
}

header a:visited {
    color: var(--yellow);
}

h2 {
    color: var(--deep-blue);
    border-right: 3px solid var(--yellow);
    padding-right: 3px;
    padding-left: 15px;
    text-align: right;
}


main section {
    display: flex;
    padding: 40px 0px;
}


main p {
    color: var(--dark);
    margin: 0 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    line-height: 150%;
}

#img-about-me {
    margin: 0 5px;
    max-width: 166px;
    max-height: 215px;
    position: relative;
    justify-content: center;
    align-items: center;
}

main ul li {
    display: inline-block;
    margin: 0 30px;
    border-bottom: 2px solid var(--deep-blue);
}

main a:link {
    color: var(--dark);
}

main a:visited {
    color: var(--dark);
}

.container {
    display: flex;
    margin: 0px 5px;
    height: 500px;
    justify-content: space-between;
    flex-direction: column;
}

.item {
    height: 14%;
}

#item-1 {
    width: 360%;
}

#item-2 {
    width: 320%;
}

#item-3 {
    width: 280%;
}

#item-4 {
    width: 240%;
}

#item-5 {
    width: 200%;
}

footer {
    background: var(--light-blue);
    color: var(--deep-blue);
    display: flex;
    justify-content: center;
}

h3 {
    margin: 5px
}